.footer{
    width: 100%;
    display: flex;
    padding: 5%;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    color: white;
    font-family:'Montserrat',sans-serif;
    font-size: 20px;
}
.redes img{
    cursor: pointer;
    width: 15%;
    padding: 0px 15px;
}